.section-footer {
    border-top: 1px solid #7014e82a;

    text-align: center;
  
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.social-container{
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.icon {
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 28%;
    color: #7014e8;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    overflow: hidden;


}
.icon i {
    line-height: 35px;
    font-size: 20px;
    transition: all 0.2s;
}
.icon:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}
.icon:before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: #7014e8;
    left: -100%;
    top: 90%;
    transform:rotate(45deg);

}
.icon:hover:before {
    animation: iconhover 0.7s 1 forwards;
}
@keyframes iconhover {
   0% {left: -100%;top:90%;} 
   50% {left: 15%; top: -30%;}
   100% {left:-10%; top: -10%;}
}
.cp-text{ 
    padding-top:.8rem;
    color: #7014e8; 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}