

.form-container {
  height: 100%;
  width: 100%;
  background: $secondary-color;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  display: grid;
grid-template-columns:  1fr 1fr;
column-gap: 2rem;
    
}


.section2 {
width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: left;
input {
  outline: none;
  border: 0;
  width: 50%;
  color: $primary-text;
  font-size: 2rem;
  line-height: 4rem;
  background-color: transparent;
  border-bottom:  2px solid $primary-text;
  margin: 2rem;
}
textarea{
  outline: none;
  border: 0;
  width: 50%;
  color: $primary-text;
  font-size: 2rem;
  line-height: 4rem;
  background-color: transparent;
  border-bottom:  2px solid $primary-text;
  margin: 1rem;
}
input::placeholder{
  color: $placholder-color;
}
textarea::placeholder{
  color: $placholder-color;
}
h4{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
a{
  margin-top: 3rem;
  color: #ccc;
}
a:hover{
  
  color: #fff;
}
}


.form-container-login {
  height: 100%;
  width: 100%;
  background: $secondary-color;
  clip-path: polygon(0 0, 60% 0 , 40% 100%, 0% 100%);
  display: grid;
grid-template-columns:  1fr 1fr;
column-gap: 2rem;
    
}


.section1 {
width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: left;
input {
  outline: none;
  border: 0;
  width: 50%;
  color: $primary-text;
  font-size: 2rem;
  line-height: 4rem;
  background-color: transparent;
  border-bottom:  2px solid $primary-text;
  margin: 2rem;
}
textarea{
  outline: none;
  border: 0;
  width: 50%;
  color: $primary-text;
  font-size: 2rem;
  line-height: 4rem;
  background-color: transparent;
  border-bottom:  2px solid $primary-text;
  margin: 1rem;
}
input::placeholder{
  color: $placholder-color;
}
textarea::placeholder{
  color: $placholder-color;
}
h4{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
a{
  margin-top: 3rem;
  color: #ccc;
}
a:hover{
  
  color: #fff;
}
}












  

  
  