.section-navbar{
 
 z-index: 500;
 color: #7014e8;

}

.navbar-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
    padding: 2rem 0;
   
}
.logo{
    padding: 3px 10px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
   
}
.nav-li{
    position: relative;
    padding: 3px 10px;
}
.nav-li a{
    transition: color 0.7s;
    color: #7014e8;
    font-weight: 600;
   
}
.nav-li:after{
    content: "";
    height: 2px;
    bottom:0;
    left:0;
    width:100%;
    background-color: #7014e8;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}
.nav-li:hover:after {
  
    transform: scaleX(1);


}
// .nav-li:hover {
//     a{
//         color: black
//     }

// }
