// primary colors
$primary-color: #EC5249;
$primary-light: rgba(248, 134, 128, 0.795);



$input-border-color: rgb(180, 176, 176);

// font colors
$font-white: #fff;
$head-two: #29303b;
$para-text: #505763;



// Font Sizes
$navbar-font: 2rem;



// background: #1FA2FF;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// text colors

        //violet
            // #b76ac4
            // #8f6ed5
            // #6772e5
            // #7795f8
            
        //black   
            // #32325d

        //green
            // #24b47e
            // rgb(185, 244, 188);
